diffusers==0.31.0
numpy
pandas
pillow
transformers==4.48.0
accelerate
tqdm
numba
scipy
h5py
gdown
imageio
opencv-python
pypng

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
